td {
    padding: 0;
    width: 250px;
    border: solid 1px grey;
  }
  
  thead {
    background-color: black;
    color: bisque;
    text-align: center;
  }
  
  tr {
    border: solid 1px grey;
    text-align: center;
  }
  
  .transactionHistory {padding-top: 40px;
    margin-left: 260px;
    border-spacing: 0;
  }